<h1>This ðŸ¤“ is..</h1>

<h2 class ="name">  <%= @person.full_name %> </h2>

<h3><%= "Age" %></h3>
<p><%= @person.age %></p>

<h3><%= "Hair Color" %></h3>
<p><%= @person.hair_color %></p>

<h3><%= "Eye Color" %></h3>
<p><%= @person.eye_color %></p>

<h3><%= "Gender" %></h3>
<p class ="gender"><%= @person.gender %></p>

<h3><%= "ðŸ’€ Alive? ðŸ’€" %></h3>
<p><%= @person.alive %></p>

<br>

<p class ="e_button"><%= link_to 'âœï¸ Edit', edit_person_path %></p>
<p> 
<p class ="e_button"><%= link_to 'ðŸ—‘ Delete', @person, method: :delete %></p>
<p>
<p class ="e_button"><%= link_to 'ðŸ‘ˆBACKðŸ‘ˆ', people_path %></p>
<br>
